<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page not found</title>
    <%- include('publicFiles') %>
</head>
<body>
    <section class="home-section _404">
        <section class="dash-main section">
          <div class="main-content overflow-y--scroll">
            <div class="container blank full-width">
                <div class="container-grid">
                    <div class="container-content blank-content">
                        <img src="/public/images/404.svg" alt="404" class="img_404">
                        <h3 class="hd-1">Whooops, page not found</h3>
                        <a href="<%= homeUrl %> " class="button btn-icon btn-create">
                            <span class="material-symbols-outlined icon">location_away</span>
                            <span class="btn-text">Go Home</span>
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </section>
    </section>
</body>
</html>
