<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login syst</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="nav-item logo">
                <a href="/">
                    <h3>Contacty</h3>
                </a>
            </div>
            <div class="nav-item nav-links">
                <a href="/">Home</a>
                <a href="#">Services</a>
                <a href="#pricing">Pricing</a>
                <a href="#">Contact</a>
            </div>
            <div class="nav-item">
                <a href="/login" class="button">Log in</a>
            </div>
        </nav>
    </header>
    <main id="homePage">
        <section class="section-hero">
            <div class="grid">
                <div class="container column">
                    <div class="container-item heading">
                        <h1>Collect form submission in just a few seconds</h1>
                    </div>
                    <div class="container-item button-group">
                        <a href="/register" class="button btn-main">Register</a>
                        <span>or</span>
                        <a href="/login" class="button btn-main">Log In</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="image-mockup">
            <div class="grid">
                <div class="image-container">
                    <img src="/public/images/dashboard.png" alt="Dashboard sample">
                </div>
            </div>
        </section>
        <section class="section-services">
            <div class="grid">
                <div class="services">
                    <div class="service">
                        <div class="service-text-item">Services text</div>
                        <div class="service-capture-item">Image</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="pricing" class="section-pricing has-background bg-1">
            <div class="grid">
                <div class="headings">
                    <h3 class="heading-title">Pricing</h3>
                    <h4 class="sub-heading price">Choose the plan that fits your needs</h4>
                </div>
                <div class="container row r-center">
                    <div class="container-item">
                        <div class="card">
                            <span class="heading-label">Basic</span>
                            <div class="price-label">
                                <h3 class="dolar">$</h3>
                                <h3 class="price">10.99</h3>
                                <p class="description-label">/ month</p>
                            </div>
                            <div class="container column">
                                <div class="container-item">
                                    <div class="text--icon">
                                        <div class="icon">
                                            <img src="/public/images/check.png" alt="">
                                        </div>
                                        <span class="plan-detail">Secure your account</span>
                                    </div>
                                    <div class="text--icon">
                                        <div class="icon">
                                            <img src="/public/images/check.png" alt="">
                                        </div>
                                        <span class="plan-detail">Up to 50 messages</span>
                                    </div>
                                    <div class="text--icon">
                                        <div class="icon">
                                            <img src="/public/images/check.png" alt="">
                                        </div>
                                        <span class="plan-detail">Customer support</span>
                                    </div>
                                </div>
                            </div>
                            <a href="/register" class="button btn-main">Start free trial</a>
                            <span class="card-detail">* No credit card required</span>
                        </div>
                    </div>
                    <div class="container-item">
                        <div class="card">
                            <span class="heading-label">Plus</span>
                            <div class="price-label">
                                <h3 class="dolar">$</h3>
                                <h3 class="price">20.99</h3>
                                <p class="description-label">/ month</p>
                            </div>
                            <div class="container column">
                                <div class="container-item">
                                    <div class="text--icon">
                                        <div class="icon">
                                            <img src="/public/images/check.png" alt="">
                                        </div>
                                        <span class="plan-detail">Secure your account</span>
                                    </div>
                                    <div class="text--icon">
                                        <div class="icon">
                                            <img src="/public/images/check.png" alt="">
                                        </div>
                                        <span class="plan-detail">Up to 100 messages</span>
                                    </div>
                                    <div class="text--icon">
                                        <div class="icon">
                                            <img src="/public/images/check.png" alt="">
                                        </div>
                                        <span class="plan-detail">Customer support</span>
                                    </div>
                                </div>
                            </div>
                            <a href="/register" class="button btn-main">Start free trial</a>
                            <span class="card-detail">* No credit card required</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="grid">
               <div class="container row r-space-between">
                <div class="container-item">
                    <div class="heading-label">Company</div>
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">Projects</a>
                    <a href="#">Pricing</a>
                    <a href="#">Contact</a>
                </div>
                <div class="container-item">
                    <div class="heading-label">Company</div>
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">Projects</a>
                    <a href="#">Pricing</a>
                    <a href="#">Contact</a>
                </div>
                <div class="container-item">
                    <div class="heading-label">Company</div>
                    <a href="#">Home</a>
                    <a href="#">Services</a>
                    <a href="#">Projects</a>
                    <a href="#">Pricing</a>
                    <a href="#">Contact</a>
                </div>
               </div>
               <div class="container row aboutCom-row">
                    <div class="container-item aboutCom">
                        <p>
                            ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Contacty, LLC. All rigths reserved
                        </p>
                    </div>
               </div>
            </div>
        </footer>
    </main>
</body>
</html>