<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="/public/js/mainSite.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="section-forms">
        <div class="grid">
            <div class="container column">
                <div class="container-item forms">
                    <div class="headings">
                        <h3 class="heading-title">Register</h3>
                        <h4 class="sub-heading">Start collecting form's messages and customers wherever you are.</h4>
                    </div>
                    <form action="/register" method="post" name="form">
                        <input type="text" name="companyName" placeholder="Enter your company name">
                        <input type="text" name="username" placeholder="Enter an username"required>
                        <input type="email" name="email" placeholder="Enter your email" required>
                        <input type="password" name="password" placeholder="Enter password" required>
                        <div class="validations">
                            <p id="capital">
                                <i class="fa-regular fa-circle-xmark"></i>
                                <i class="fa-solid fa-check"></i>
                                <span>Capital letters</span>
                            </p>
                            <p id="char">
                                <i class="fa-regular fa-circle-xmark"></i>
                                <i class="fa-solid fa-check"></i>
                                <span>Special characters</span>
                            </p>
                            <p id="num">
                                <i class="fa-regular fa-circle-xmark"></i>
                                <i class="fa-solid fa-check"></i>
                                <span>Using numbers</span>
                            </p>
                            <p id="more8">
                                <i class="fa-regular fa-circle-xmark"></i>
                                <i class="fa-solid fa-check"></i>
                                <span>8+ characters</span>
                            </p>
                        </div>
                        <input type="submit" class="btn-submit btn-main" value="Register">
                    </form>
                    <span class="card-detail">Already have an account? <a href="/login">Login</a></span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>