@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('/node_modules/font-awesome/css/font-awesome.min.css');


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

:root {
    --bg-1: #201f15;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

header, footer {
    margin-inline: 3em;
    background-color: var(--bg-1);
}

section {
    padding-block: 3em;
}
section.section-hero{
    margin: 3em;
    background-color: #f5f2ea;
    border-radius: 0.5em;
    padding: 5rem;
}

section.image-mockup{
    margin-top: -8.4rem;
}

section.has-background {
    margin: 3em;
    border-radius: 0.5em;
}

.bg-1 {
    background-color: #f5f2ea;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #6d6d6d;
    font-weight: 400;
}

h1 {
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width: 420px) {
    h1 {
        font-size: 3rem;
    }
}

h3 {
    font-size: 2.45em;
    font-weight: 500;
    text-align: center;
}

h4 {
    color: #6d6d6d;
    font-size: 1.3rem;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

form > * {
    margin-bottom: .5rem;
}

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.5em 1.5em;
    background-color: #fff;
    border: 2px solid rgb(233, 233, 233);
    /*outline: none;
    -webkit-box-shadow: 0px 0px 0px 1px #e2e2e2; 
    box-shadow: 0px 0px 0px 1px #e2e2e2;*/
    border-radius: 6px;
    transition: 180ms ease-in-out;
}
input::placeholder {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 400;
}

label {
    font-size: 20px;
    font-size: max(20px, 1.2em);
}

.main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.grid {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    display: flex;
    align-items: center;
}

.container.column {
    flex-direction: column;
    gap: 1rem;
}

.container.row {
    flex-direction: row;
    gap: 5rem;
}

@media screen and (max-width: 700px) {
    .container.row {
        flex-direction: column;
        gap: 3rem;
    }
}

.r-center {
    justify-content: center;
}

.r-space-between {
    justify-content: space-between;
}

.container.column .container-item {
    margin-bottom: 2em;
}


@media screen and (min-width: 750px) {
    .container-item.heading {
        width: 70%;
    }    
}

.image-container {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
}

.image-container img{
    display: block;
    width: 90%;
    height: 100%;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.3125rem #6066660d, 0 0.0625rem 0.125rem #8e8e8e26;
    border: 1px solid #e7e7e7;
}

.headings {
    margin-bottom: 2rem;
    text-align: center;
}

.headings h3, .heading-title {
    margin-bottom: 1.4rem
}
.heading-title {
    font-weight: 700;
    font-size: 2.3rem;
}

h4:not(.price), .sub-heading:not(.price) {
    color: #6d6d6d;
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 15em;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: #fafafa;
    border-radius: 1rem;
}

.heading-label {
    font-weight: 500;
    font-size: 1.5rem;
}

.price-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dolar {
    color: #8d8963;
}

.price-label {
    margin-bottom: 1.75rem;
}

.price {
    margin-right: .5rem;
}

.description-label {
    color: #bbbbbb;
    margin-top: .8rem;
}

.text--icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.icon {
    display: flex;
}
.icon img{
    width: 24px;
    height: 24px;
    border-radius: 7px;
}

.text--icon span {
    padding-left: 0.5rem;
    font-size: .85rem;
    color: #989da3;
    font-weight: 400;
}

.card-detail {
    padding-top: .5rem;
    font-size: .85rem;
    color: #989da3;
    font-weight: 200;
}

.forms > * {
    margin-bottom: 2em;
    font-family: 'Poppins', sans-serif;
}

.container-item.button-group {
    display: flex;
    gap: 1.75em;
    flex-direction: row;
    align-items: center;
}

.button {
    text-decoration: none;
    padding: .8em 2em;
    background: #ffffff;
    color: rgb(26, 24, 24);
    border-radius: .3em;
    transition: all .3s ease-in-out;
    border: none;
    font-weight: 500;
    text-align: center;
}

.btn-main {
    background: #fdc886;
    color: rgb(26, 24, 24);
    transition: all .3s ease-in-out;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.btn-submit {
    border: none;
    outline: none;
    background: #fdc886;
}
.button:hover, .button:focus, input.btn-submit:hover, input:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 0px 3px #dda969; 
    box-shadow: 0px 0px 0px 3px #dda969;
}
.button:active {
    outline: none;
    -webkit-box-shadow: 0px 0px 0px 3px #c2945c; 
    box-shadow: 0px 0px 0px 3px #c2945c;
}





/* -----------HEADER----------*/

header {
    padding-left: 3em;
    padding-right: 3em;
    padding-block: 0.8em;
    position: sticky;
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
}

.nav-links {
    gap: 1.5rem;
}

.nav-links a {
    padding: .25rem .5rem;
    color: #ffffffd9;
    transition: all .3s ease-in-out;
    font-weight: 500;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #fff;
}

.logo h3{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
}

/* ---------FOOTER--------*/

footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

footer .container-item {
    padding: 1.5rem;
    display: flex;
    gap: .85rem;
    flex-direction: column;
    color: #fff;
}

footer .aboutCom-row {
    margin-inline: 1.5rem;
    border-top: 1px solid #ffffff1f;
}

footer .aboutCom {
    padding: 0;
    padding-block: 1.5rem
}

footer .container-item a{
    color: #fff;
}

/* --------- Services ------------*/

.section-heading {
    margin-bottom: 5.2rem;
}

.sh-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sh-box h3 {
    font-size: 3rem;
    font-weight: 600;
}

.hd-tag {
    font-weight: 500;
    color: #aca039;

}

.services {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    gap: 4.5rem;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service.row {
    flex-direction: row;
    gap: 2.4rem;
}

.service.row-reverse {
    flex-direction: row-reverse;
    gap: 1.85rem;
}

.service-text-item {
    width: 90%;
}

.service.row-reverse .service-text-item {
    width: 100%;
}

.service img {
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;
}

.service h3 {
    text-align: left;
    font-size: 2.6rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
    color: #3f390c;
}

.service p {
    font-size: 1rem;
    color: #868686;
}

