<div class="container blank full-width">
    <div class="container-grid">
        <div class="container-content blank-content">
            <h3 class="hd-1">You haven't created any form yet</h3>
            <a href="/<%= user.username %>/dashboard/forms/new" class="button btn-icon btn-create">
                <span class="material-symbols-outlined icon">add</span>
                <span class="btn-text">Create</span>
            </a>
        </div>
    </div>
</div>