<div class="container blank full-width">
    <div class="container-grid">
        <div class="container-content blank-content">
            <h3 class="hd-1"><%= nullMessage %></h3>
            <a href="<%= createLink %> " class="button btn-icon btn-create">
                <span class="material-symbols-outlined icon">add</span>
                <span class="btn-text"><%= buttonMsg %> </span>
            </a>
        </div>
    </div>
</div>