<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email preferences</title>
</head>
<body>
    <h1>Style your email</h1>
    <br>
    <br>
    <form action="/<%= user.username %>/dashboard/settings/emails?_method=PUT" method="POST">
        <textarea name="emailPref" id="" cols="30" rows="10" value="<%= emailFooter.html %>"><%= emailFooter.html%></textarea>
        <br>
        <button type="submit">Update email pref</button>
    </form>
</body>
</html>